*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans' , sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../img/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    padding-top: 50px;
    color: white;
    font-size: 50px;
    letter-spacing: 1px;
    cursor: pointer;
    font-style:italic;
}

span{
    color: #9D00FF;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}

.btn{
    background-color: #9D00FF;
    color: white;
    text-decoration: none;
    border:  2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2);
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: #ffffff;
    margin: 20px 0px 25px;
    font-size: 75px;    
    font-style:italic;
}

h2{
    color: #FF3131;
    margin-bottom: 50px;
    font-size: 20px;    
    font-style:italic;
}

h4{
    color: #FF3131;
    letter-spacing: 2px;
    font-size: 20px; 
    font-style:italic;   
}

.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #000000;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child{
    color: white;
    position: absolute;
    display: inline-block;
    border: 2px solid #000000;
    outline: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #1F51FF;
    width: 35%;
    height: 80%;
    box-shadow: 0px 0px 5px #000000, 0px 0px 15px #1F51FF ;
    top: 5px;
    right: 6px;
}

.about{
    height: 100vh;
    width: 100%;
    padding: 100px 0px;
    background-image: url(../img/vecteezy_saber-neon-glow-color-flowing-rectangle-background_3123185.jpg);
    background-size: cover;
    background-position: center;
}

.about img{
    height: auto;
    width: 430px;
    box-shadow:  3px 0px 5px #000000, 0px 0px 15px #1F51FF ;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: #9D00FF;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: #FFFF33;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #000000;
    padding: 13px 30px;
    border-radius: 30px;
    background-color: #1F51FF;
    box-shadow: 0px 0px 5px #000000, 0px 0px 15px #1F51FF ;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 2px solid #9D00FF;
    cursor: pointer;
}

.service{
    background: #000000;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}